root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.java]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_imports_layout = $*, |, com.**, |, org.**, |, xyz.jwizard.**, |, *, |, jakarta.**, |, java.**, |, javax.**

[*.{yml,yaml,xml}]
indent_size = 2

[{Makefile,*.mk}]
indent_style = tab
indent_size = 2
tab_width = 2