# rabbitmq
NS_RABBITMQ_AMQP_PORT=9111
NS_RABBITMQ_PANEL_PORT=9112

# redis
NS_REDIS_SINGLE_NODE_PORT=9113
NS_REDIS_PANEL_PORT=9114

# postgres
NS_POSTGRES_DB_PORT=9115
NS_POSTGRES_PANEL_PORT=9116

# neo4j
NS_NEO4J_PANEL_PORT=9117
NS_NEO4J_DB_PORT=9118
