<!--
  ~ Copyright (c) 2022-2026 JWizard. All Rights Reserved.
  ~
  ~ NOTICE: This source code is publicly available for reference
  ~ and educational purposes only. It is NOT open-source software.
  ~
  ~ You are granted permission to view this code. However, you are strictly
  ~ PROHIBITED from copying, modifying, or merging this code into other software,
  ~ distributing, publishing, or sublicensing this code, using this code for
  ~ commercial purposes or in production environments.
  ~
  ~ THIS SOFTWARE IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER
  ~ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF
  ~ MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
  ~
  ~ Please refer to the LICENSE file in the root directory for full restrictions.
  -->
<included>
  <property name="LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta([${SERVICE_NAME}]) [%15.15thread] %cyan(%-40.40logger{39}) : %msg%n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</included>
